@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/*удалить универсальный после распред-я стилей
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  /*допускается использование list-style: 1.2;*/
  color: #2D3440;
  background-color: #FEAFC3;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1170px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.main-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-item {
  padding: 8px 16px;
}

.navigation-link {
  font-size: inherit;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.main-wrapper {
  background-color: #FEAFC3;
}

.ice-cream-ball {
  border-radius: 50%;
}

.features {
  background-image: url(/images/index/pattern_background.jpg);
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.features-direction {
  background-color: #ffffff;
  border-radius: 16px;
}


.index-columns {
  display: grid;
  grid-template-columns: 570px 570px;
  gap: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.news {
  background-image: url(/images/index/news_background.jpg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  min-height: 224px;
}

.subscribe-news {
  background-image: url(/images/index/subscribe_background.jpg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  min-height: 224px;
}

.subscribe-news-container {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 6px;
}

.delivery {
  background-image: url(/images/index/delivery_background.jpg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  min-height: 534px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.delivery-window {
  border-radius: 8px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  min-width: 500px;
  min-height: 406px;
  margin-top: 64px;
  margin-left: 64px;
  margin-bottom: 64px;
}

.contacts {
  background-image: url(/images/index/contacts_background.jpg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  padding: 64px;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  max-width: 343px;
}




.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
