@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/*удалить универсальный после распред-я стилей
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px; /*допускается использование list-style: 1.2;*/
  color: #565C66;
  background-color: #FEAFC3;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1170px;
}


.main-wrapper {
  background-color: #FEAFC3;
}

.ice-cream-ball {
  border-radius: 50%;
}

.features {
  background-image: url(/images/index/pattern_background.jpg);
  border-radius: 16px;
}
.features-direction {
  background-color: #ffffff;
  border-radius: 16px;
}

.news {
  background-image: url(/images/index/news_background.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  min-width: 570px;
  min-height: 224px;
}

.subscribe-news {
  background-image: url(/images/index/subscribe_background.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  min-width: 570px;
  min-height: 224px;
}

.delivery {
  background-image: url(/images/index/delivery_background.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts {
  background-image: url(/images/index/contacts_background.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.index-columns {
  display: grid;
  grid-template-columns: 570px;
  gap: 30px;
}
