@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px; /*допускается использование list-style: 1.2;*/
  color: #565C66;
  background-color: #FEAFC3;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /*width: ;*/
}


.main-wrapper {
  background-color: #FEAFC3;
}



.main-header {}

.container {}

.navigation {}

.header-logo {}

.visually-hidden {}

.main-nav {}

.nav-item {}

.dropdown {}

.dropdown-item {}

.user-navbar {}

.site-search {}

.search-link {}

.search-form {}

.site-login {}

.login-link {}

.login-form {}

.login-item {}

.input-text {}

.button {}

.login-button {}

.login-help {}

.login-help-link {}

.recycle-bin {}

.recycle-bin-link {}

.recycle-bin-form {}

.recycle-bin-item {}

.main-container {}

.main-index {}

.slider {}

.slider-list {}

.slider-item {}

.slide-current {}

.slide-title {}

.slider-item-button {}

.slider-contols {}

.slider-button {}

.slider-next {}

.slider-footer {}

.slider-pagination {}

.slider-pagination-item {}

.slider-pagination-button {}

.slider-pagination-button-current {}

.slider-social-list {}

.slider-social-item {}

.social-link {}

.telegram {}

.vkontakte {}

.youtube {}

.promo {}

.promo-heading {}

.heading {}

.promo-list {}

.promo-list-item {}

.raspberry {}

.promo-list-description {}

.promo-list-button {}

.marshmallow {}

.top-sales {}

.top-sales-heading {}

.heading {}

.top-sales-list {}

.top-sales-item {}

.top-sales-wrapper {}

.top-sales-title {}

.top-sales-link {}

.top-sales-price {}

.top-sales-card-button {}

.features {}

.features-heading {}

.features-list {}

.features-item {}

.index-colums {}

.news {}

.news-heading {}

.news-link {}

.subscribe-news {}

.subscribe-news-description {}

.subscribe-news-form {}

.subscribe-news-form-input {}

.subscribe-news-form-button {}

.delivery {}

.delivery-about {}

.delivery-heading {}

.delivery-description {}

.delivery-window {}

.delivery-window-info {}

.delivery-form {}

.field-group {}

.delivery-form-date {}

.form-label {}

.tooltip {}

.tooltip-toggle {}

.tooltip-icon {}

.tooltip-text {}

.delivery-form-input {}

.delivery-form-phone {}

.delivery-form-address {}

.delivery-form-button {}

.contacts {}

.contacts-offline {}

.offline-address {}

.offline-address-description {}

.contacts-online {}

.online-phone {}

.online-phone-description {}

.online-phone-time {}

.feedback-form-button {}

.page-footer {}

.footer-social {}

.footer-social-list {}

.footer-social-item {}

.footer-about-us {}

.footer-about-us-list {}

.about-us {}

.item {}

.about-us-item-link {}

.current {}

.footer-logo {}

.footer-logo-link {}

.footer-logo-img {}

.copyright {}

.copyright-link {}

.modal-feedback {}

.modal-wrapper {}

.modal-button-close {}

.modal-title {}

.feedback-form {}

.feadback-form-input {}

.username {}

.email {}

.feadback-form-textarea {}

.modal-button-send {}
